@import "normalize";
//@import "swiper-bundle";
//@import "fresco";
//@import "selectric";
//@import "jquery.mCustomScrollbar";
//@import "aos";

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.test{
  color: black;
}


