@import "normalize";
//@import "swiper-bundle";
//@import "fresco";
//@import "selectric";
//@import "jquery.mCustomScrollbar";
//@import "aos";
.poiret{
  font-family: 'Poiret One', cursive;
}
.raleway{
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  @extend .raleway;
}
.test{
  color: black;
}
body{
  position: relative;
  .dec-right{
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.lock{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.button-donate{
  cursor: pointer;
  padding: 18px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #161616;
  background-color: #FFFFFF;
  border-radius: 53px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 290px;
  transition: ease-in 0.2s;
  &:hover{
    background-color: #8F8F2D;
    color: white;
    box-shadow: 0px 0px 16px rgba(211, 211, 96, 0.32);
  }
}
.pay-btn{
  background: #D3D360;
  box-shadow: 0px 29px 26px -20px rgba(211, 211, 96, 0.37);
  border-radius: 66px;
  padding: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 392px;
  transition: ease-in 0.2s;
  border: 2px solid #D3D360;
  &:hover{
    background-color: #FFFFFF;
    color: #D3D360;
    box-shadow: 0px 0px 16px rgba(211, 211, 96, 0.32);
  }
}
.main{
  overflow: hidden;
  width: 100%;
  padding-bottom: 231px;
}
.main-container{
  padding: 0 100px;
  max-width: 1420px;
  width: 100%;
  margin: auto;
}
.header{
  z-index: 1;
  padding-top: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    position: relative;
    .logo-left{
      position: absolute;
      top: 14px;
      right: 88px;
    }
    .logo-right{
      position: absolute;
      top: -28px;
      left: 86px;
    }
  }
  &__contacts, &__phones, &__email{
    display: flex;
    align-items: center;
  }
  &__phones{
    span{
      display: block;
      margin: 0 10px;
      font-size: 20px;
      line-height: 23px
    }
  }
  a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #161616;
  }
  .language-chooser-image{
    position: relative;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      height: 100%;
    }
    .active, a{
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      text-transform: uppercase;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }
    .active{
      cursor: pointer;
      color: #767620;
    }
    .other-language{
      display: flex;
      align-items: center;
      &:before{
        content: "|";
        display: inline-block;
        margin: 0 10px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #767620;
        @media all and (max-width: 1024px){
          display: none;
        }
      }
      @media all and (max-width: 1024px){
        position: absolute;
        top: calc(100% + 6px);
        left: -6px;
        display: none;
        flex-direction: column;
        padding: 4px;
        border: 1px solid white;
        border-radius: 30px;
        background-color: #8f8f2d;
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.46);
        li{
          margin-bottom: 4px;
          transition: ease-in 0.2s;
          border-radius: 30px;
          overflow: hidden;
          border: 1px solid transparent;
          &:last-child{
            margin-bottom: 0;
          }
          &:hover{
            border: 1px solid white;
          }
        }
      }

      //&.active{
      //  display: flex;
      //}
    }
  }
}
.banner{
  position: relative;
  padding-top: 238px;
  padding-bottom: 185px;
  &__popup{
    position: absolute;
    bottom: -50px;
    width: 100%;
    z-index: 1;
    left: 0;
    &-btn{
      background: #8F8F2D;
      box-shadow: 0px 38px 48px -36px rgba(211, 211, 96, 0.52);
      border-radius: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      padding: 37px;
      cursor: pointer;
      transition: ease-in 0.2s;
      border: 2px solid #8F8F2D;
      &:hover{
        background: #FFFFFF;
        border: 2px solid #8F8F2D;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px rgba(211, 211, 96, 0.32);
        color: #8F8F2D;
      }
    }
  }
  &__donate{
    text-align: center;
  }
  &__title{
    @extend .poiret;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #161616;
    max-width: 790px;
    margin: 0 auto 54px auto;
  }
  &__content{
    max-width: 978px;
    margin: 0 auto 74px auto;
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 136.9%;
      text-align: center;
      color: #161616;
      margin-bottom: 34px;
    }
    strong{
      font-weight: 700;
    }
  }
  &__dec{
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.content{
  padding-top: 100px;
  &__tabs{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__tab{
    background: #FFFFFF;
    border: 2px solid #EAEAEA;
    border-radius: 37px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 144.9%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #161616;
    padding: 16px;
    margin: 0 25px;
    flex: 1;
    cursor: pointer;
    transition: ease-in 0.2s;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      background: #FFFFFF;
      border: 2px solid #D3D360;
      box-sizing: border-box;
      box-shadow: 0px 0px 16px rgba(211, 211, 96, 0.32);
      border-radius: 37px;
    }
  }
  &__contents{

  }
  &__content{
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #767620;
      margin-bottom: 17px;
      margin-top: 64px;
    }
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #000000;
    }
    P > em{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 180%;
      text-align: center;
      color: #B1B1B1;
    }
    p strong em{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #8F8F2D;
    }
  }
  &__button{
    margin-top: 74px;
    cursor: pointer;
    &:nth-child(2){
      margin-top: 20px;
    }
  }
}
.footer{
  width: 100%;
  padding-top: 23px;
  position: relative;
  padding-bottom: 38px;
  z-index: 2;
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    position: relative;
    .logo-left{
      position: absolute;
      bottom: 62px;
      right: 88px;
      pointer-events: none;
    }
  }
  &__contacts, &__phones, &__email{
    display: flex;
    align-items: center;
  }
  a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #161616;
  }
  .language-chooser-image{
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    .active, a{
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
    }
    .active{
      cursor: pointer;
    }
    .other-language{
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
    }
  }
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  &__container{
    background: #FFFFFF;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.12);
    padding: 88px 85px 120px 85px;
    position: relative;
    max-width: 1120px;
    height: 873px;
  }
  &__close{
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #161616;
    position: relative;
    @extend .poiret;
    margin-bottom: 48px;
  }
  &__content{
    position: relative;
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 136.9%;
      text-align: center;
      color: #161616;
      margin-bottom: 40px;
    }

  }
}